@import '@fontsource/titillium-web';
@import '@fontsource/titillium-web/300';
@import '@fontsource/titillium-web/600';
@import '@fontsource/titillium-web/700';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

input {
	border: none;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
