$in-stock-black: #13182c;
$in-stock-white: #ffffff;
$in-stock-slate: #5c667e;
$in-stock-graphite: #232940;
$in-stock-green: #158463;
$in-stock-indigo: #2e66e5;
$in-stock-cloud: #bdc5d5;
$in-stock-light-grey: #f7f8f9;
$in-stock-red: #c94515;

$h1: 2rem;
$h2: 1.5rem;
$h3: 0.875rem;
$h4: 0.75rem;
$p1: 1rem;
$p2: 0.875rem;
$p3: 0.75rem;

$h1M: 1.75rem;
$h2M:1.25rem;
$h3M: .8125rem;
$h4M: .6875rem;
$p1M: .9375rem;
$p2M: .8125rem;
$p3M: .6875rem;